@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
 /* 이거도 무시하셈 */
/* #cursor {
    background-color: #fff;
    color: #0A0541;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border:  1px solid;
    display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
     font-family: 'pb';
     display: none;
} */


header {
    width: 100%;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    z-index: 999;
}
.inner {
    width: 180rem;
    height: 15rem;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.htop {
    width: 100%;
    height: 40%;
    background-color: #fff;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.hbot {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    z-index: 99;
}
.htop h1 {
    display: inline-block;
    z-index: 101;
   
}
.htop h1 a img {
    margin-top: 15px;
    margin-left: 20px;
    width:138px;
    height: 45px;
}
.searchbox {
    margin-top: 15px;
    width: 165px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 101;
}

.budbeats {
    width: 145px;
    height: 25px;
    display: flex;
    align-items: center;
   
}
.budbeats a {
    width: 126px;
    height: 39px;
    display: block;
    border: 1px solid red;
    overflow: hidden;
    border-radius: 50px;
}

.flow {
    display: flex;
    gap: 10px;
    animation:  flow 25s linear infinite;
    transform: translateX(-50%);
}

@keyframes flow {
    from{position: relative;
    left: 0;
    }
    to{position: relative;
    left: -1000px;
    }
}

.budbeats a img {
    margin-top: 10px;
    width: 100px;
}
.search {
    width: 24px;
    height: 25px;
    display: inline-block;
    z-index: 91;
}
.search img {
    width: 100%;
    height: 100%;
}

.searchf {
    width: 100%;
    position: absolute;
    top: 0;
    display: none ;
    transition: all 1s;
}

.search_bg {
    display: flex;
    width: 100%;
    height: 28.4rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}

.search_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 60%;
}

.search_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.search_nav input {
    width: 100%;
    font-size: 26px;
    height: 65px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-top: 100px;
}

.search_nav input:hover {
    border-bottom: 1px solid #181818; 
}

.searchimg {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    cursor: pointer;
    bottom: 20px; right: 0;
}

.hbot > ul {
    width: 50%;
    height: 100%;
    list-style: none;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
}
.hbot > ul > li {
    width: 25%;
    line-height: 102px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;

}
.hbot > ul > li::after {
    display: block;
    height: 500px;
    background-color: #181818;
    opacity: 0.3;
    z-index: 998;
}
.hbot > ul > li a {
    width: 100%;
    display: block;
    color: #0A0541;
    text-decoration: none;
    letter-spacing: -0.05em;
}

.hbot ul li a:hover {
    color: red;
}

.menu_nav {
    z-index: 9999;
    position: relative;
    top: 40px;  
    list-style: none;
}

.menu_nav li {
    width: 100%;
    height: 42px;
}


.menu_nav li a {
    width: 100%;
    height: 100%;
    line-height: 42px;
}

.popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_in  {
    width: 35%;
    background-color: #fff;
    text-align: center;
    padding: 60px 50px;
}
.popup_in > p {
    font-size: 42px;
    color: #0A0541;
}
.pselect {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.pselect button  {
    width: 41%;
    outline: none;
    border: none;
    background-color: #dc0019;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    line-height: 68px;
    display: block;
    cursor: pointer;
}
.pwar {
    margin-top: 30px;
}
.pwar span {
    font-size: 17px;
    font-weight: 500;
    color: #0a0541;
    line-height: 1.6;
}
.cookie { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px; left: 30px;
    background: url('../images/cookie/ot_persistent_cookie.png')no-repeat center/cover;
}

/* header end */

.main {
    width: 100%;
    position: relative;
    z-index: 99;
    overflow: hidden;
}

main .mainevent {
     width: 100%;
     position: absolute;
     top: 0; left: 0;
}

.mainevent ul {
    width: 100%;
    list-style: none;
    margin-top: 168px;
}

.mainevent a {
    width: 192rem;
    height: 550px;
    display: block;
    position: relative;
}
.mainevent .first a  {
    background: url("../images/mainbanner/kid_mili.jpg") no-repeat center/cover;
    display: block;
}
.firsttext{
   text-decoration: none;
   position: absolute;
   top: 15%; left: 5%;
}
.firsttext h2 {
    font-weight: bold;
    font-size: 80px;
    color: #fff;
}
.firsttext p {
    font-size: 3rem;
    color: #fff;
}
.mainevent .second a {
    background: url("../images/mainbanner/main_banner2.jpg") no-repeat center/cover;
}
.second a .stext {
    position: absolute;
    top: 15%; left: 5%;
}
.stext h2 {
    font-weight: bold;
    color: #fff;
    font-size: 80px;
}
.stext p {
    color: #fff;
    font-size: 3rem;
}
.mainevent .third a {
     background: url("../images/mainbanner/main_banner3.jpg") no-repeat center/cover;
}
.mobr{
    display: none;
}
.third .trdtext {
   position: absolute;
   top: 15%; left: 5%;
}
.third .trdtext h2 {
    font-weight: bold;
    font-size: 80px;
    color: #0A0541;
}
.third .trdtext p {
    font-size: 3rem;
    color: #0A0541;
}
.mainevent .four a {
    background: url("../images/mainbanner/main_banner4.jpg") no-repeat center/cover;
}
.fourtext {
    position: absolute;
    top: 15%; left: 5%;
}
.fourtext h2 {
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}
.fourtext p {
    color: #fff;
    font-size: 3rem;
}
.mainevent .five a {
    background: url("../images/mainbanner/mainbanner5.jpg") no-repeat center/cover;
}
.fivetext {
    position: absolute;
    top: 15%; left: 5%;
}
.fivetext h2 {
    font-weight: bold;
    font-size: 80px;
    color: #fff;
}
.fivetext p {
    color:#fff;
    font-size: 3rem;
}
.artist {
    width: 100%;
    height: 924px;
    display: flex ;
    flex-direction: column;
    justify-content: center;
}
.artinner {
    width: 90%;
    margin: 70px 50px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.title {
    width: 100%;
    line-height: 120px;
}
.title h3 {
    font-size: 80px;
    font-weight: bold;
    color: #dc0019;
}

.artslider {
    width: 100%;
    height: 600px;
}

.list_container {
    width: 100%;
    overflow: hidden;
}

.slider {
    list-style: none;
    display: flex;
    align-items: center;
}


.slider {
    display: flex;
    animation: slider 105.307s linear normal infinite;
    align-content: center;
    gap: 60px;
}

@keyframes slider {
    from{transform: translateX(0px);
    }
    to{transform: translateX(-5307.81px);
    }
}

.slider:hover  {
    animation-play-state: paused;
}

.slider li {
    position: relative;
}
.slider li >  p {
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    display: none;
}
.slider img {
      display: block;
      overflow: hidden;
}

.name {
    position: absolute;
    top: 0; left: 0; 
    width: 454px;
    height: 454px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.7);
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.name p {
    position: absolute;
    bottom: 19%; left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 36px;
    visibility: hidden;
    transition: all 0.5s;
}

.slider  li:hover .name p {
    visibility: visible;
}
.slider li:hover .name {
    opacity: 1;
    visibility: visible;
}



/* main end */

/* footer start */
footer {
    width: 100%;
    height: 400px;
    background-color: #0A0541;
    position: relative;
}
.finner {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 70px;
    display: flex;
    align-items: center;
}
.flogo {
    width: 15%;
    margin-left: 50px;
    height: 320px;
}
.flogo img {
    width: 85%;
    position: relative;
    left: 10px;
} 
.policy {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right:100px;
    height: 320px;
}
.policy .ptop {
    width: 80rem;
    height: 20%;
}
.ptop span {
    width: 50%;
}
.ptop span:nth-child(1) a {
    color: #d19f58;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding-right: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
}
.ptop span:nth-child(2) a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
}
.policy p {
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 30px;
}
.policy p a {
    text-decoration: none;
    color: #fff;
}
.policy .copy {
    width: 100%;
    color: rgb(255 , 255 ,255 , 0.6);
    font-size: 16px;
    font-weight: lighter;
}
.policy::after {
    content: '';
    display: block;
    clear: both;
}
/* policy end */
.sns {
    width: 40%;
    float: left;
    height: 320px;
}
.sns .upcon .uptitle {
    margin-bottom: 10px;
    color: #fff;
}
.sns ul  {
    list-style: none;
}
.upcon ul::after {
    content: '';
    display: block;
    clear: both;
}
.sns ul  li {
    float: left;
    margin-right: 10px;
}
.sns ul  li a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.1);
    display: inline-block;
    position: relative;
}
.sns ul  li a img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.sns .lowcon .lowtitle {
    margin-bottom: 10px;
    color: #fff;
}
.lowcon ul::after {
    content: '';
    display: block;
    clear: both;
}
.upcon {
    margin-bottom: 40px;
}

